* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
}

header.bvs-header {
    background-color: #008;
    color: white;
    border-bottom: 1px solid dimGray;
}

header.bvs-header > nav a {
    color: white;
}
