:root {
    --edge-padding: 1rem
}

header.bvs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

header.bvs-header > nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header.bvs-header > nav ul li {
    display: inline-block;
}

header.bvs-header > nav a {
    display: inline-block;
    padding: 0.8rem var(--edge-padding);
    text-decoration: none;
    font-weight: bold;
}

header.bvs-header > nav a.active {
    border-bottom: 0.2rem solid;
}

footer.bvs-footer {
    font-size: 10pt;
}
