header.bvs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

header.bvs-header > nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header.bvs-header > nav ul li {
    display: inline-block;
}

header.bvs-header > nav a {
    display: inline-block;
    padding: 0.8rem 1rem;
    text-decoration: none;
    font-weight: bold;
}

header.bvs-header > nav a.active {
    border-bottom: 0.2rem solid;
}

main.bvs-main {
    margin: 1rem;
}
